.experiences-section
  background-color: #e0d8d845

  .nav-link
    background-color: #f8f9fa
    &.active
      background-color: #810202

  .careers-tab-content
    .card-header
      background-color: #000000
      h4.card-title
        color: #ffffff
        margin-top: 1rem

  .academic-tab-content
    .card-header
      background-color: #000000
      min-width: calc(40vw)

      .btn.btn-link
        color: #ffffff
        font-size: 1.5rem
