.experiences-section
  background-color: #e0d8d845

  .nav-link
    background-color: #f8f9fa
    &.active
      background-color: #810202

  .academic-tab-content
    .card-header
      background-color: #f8f9fa
      min-width: calc(40vw)

      .btn.btn-link
        color: #810202
        font-size: 1.2rem
