section.resume-section {
  padding: 3rem 2rem;
  .resume-item {
    .resume-date {
      min-width: none;
    }
  }
}

@media (min-width: 317px) {
  section.resume-section {
    padding: 0px;
  }
  br{
    display: visible;
  }
}

@media (min-width: 418px) {
  section.resume-section {
    padding: 10px;
  }
}

@media (min-width: 576px) {
  section.resume-section {
    padding: 10px;

    .heading-name{
      margin-left: 11rem;
    }
  }
}

@media (min-width: 768px) {
  section.resume-section {
    padding: 10px;

    br{
      display: none;
    }
    .subheading {
      margin-left: 11rem;
      margin-top: 1.0em !important;
    }
    p.lead {
      margin-top: 4rem;
    }
    .heading-name{
      margin-left: 10rem;
    }

  }
}

@media (min-width: 992px) {
  section.resume-section {
    padding: 10px;
  }
}
