<nav class="navbar navbar-expand-lg bg-light fixed-top justify-content-center" id="sideNav">
  <a class="navbar-brand js-scroll-trigger" href="#page-top">
    <span class="d-block d-lg-none"></span>
    <span class="d-none d-lg-block">
      <img class="img-header-l" src="{{ "/assets/images/presentation/me-sunback-600w-min.jpg" }}" alt="Me">
    </span>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="icon-center"><img src="{{"/assets/images/icons/me-icon.svg"}}" alt="jsam icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav" id="menu-list">
      <li class="nav-item mt-5">
        <a class="nav-link js-scroll-trigger" href="#presentation">Presentación</a>
      </li>
      <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="#experiences">Experiencias</a>
      </li>
      <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="#projects">Code</a>
      </li>
      <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="#skills">Destrezas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="#interests">Estilo de Vida</a>
      </li>
    </ul>
  </div>
</nav>
