<nav class="navbar navbar-expand-lg bg-light fixed-top justify-content-center" id="sideNav">
  <a class="navbar-brand js-scroll-trigger" href="#page-top">
    <span class="d-block d-lg-none"></span>
    <span class="d-none d-lg-block">
      <div class="header-img-box">
        <img class="img-sam-format" src="{{ "/assets/images/presentation/me-white_bg-600w.jpg" }}" alt="Me">
      </div>
      <!-- <img class="img-header-l" src="{{ "/assets/images/presentation/me-white_bg-600w.jpg" }}" alt="Me"> -->
    </span>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="icon-center"><img src="{{"/assets/images/icons/me-icon.svg"}}" alt="jsam icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav" id="menu-list">
      <li class="nav-item mt-5">
        <a class="nav-link js-scroll-trigger" href="#presentation" role="button">Presentation</a>
      </li>
      <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="#icando">What can I do?</a>
      </li>
      <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="#experiences">Experiences</a>
      </li>
      <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="#learn-teach">Learning and Teaching</a>
      </li>
      <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="#interests">Life Style</a>
      </li>
    </ul>
  </div>
</nav>
