@import "styles/experiences"
@import "styles/projects"
@import "styles/skills"

// some styles...

.subheading

.img-header-l
  position: absolute
  top: 10%
  left: 10%
  width: calc(80%)
  border-radius: 50%
  box-shadow: 0 4px 9px 2px $blood-red

.presentation-img-box
  margin: auto
  max-width: 100%
  width: 14rem
  height: 18rem
  border-radius: 50% 
  margin-top: 2rem
  box-shadow: 0 4px 9px 2px $blood-red
  
  .img-sam-format
    max-width: 100%
    width: 14rem
    height: 18rem
    border-radius: 50%

.subheading-sam-format
  margin-top: calc(100% - 0.5rem)

.h-section
  left: 0
  width: calc(100)
  height: calc(100%)
  padding: 10px
  background-color: red

.social-icons
  display: flex
  justify-content: center
  padding: 2rem 0